<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
<!-- 
	Spring Annotation
		. @AutoWired
		. @Qualifier
		. @Injection
		. @Resource
		
		. @Service		: 비즈니스 로직처리한 서비스클래스
		. @Respository	: 데이터베이스 연동 DAO
		. @Controller	: 사용자 요청을 제어하는 컨트롤러
 -->
	<context:component-scan base-package="com.mycompany.biz"/>
	 
	<bean id="logA" class="com.mycompany.biz.common.LogAdvice"/>
	<bean id="logB" class="com.mycompany.biz.common.Log4jAdvice"/>
	<bean id="afterThrowing" class="com.mycompany.biz.common.AfterThrowingJoinPoint"/>
	<bean id="before" class="com.mycompany.biz.common.BeforeAdvice"/>
	<bean id="afterReturning" class="com.mycompany.biz.common.AfterReturningAdvice" />
	<bean id="after" class="com.mycompany.biz.common.AfterAdvice" />
	
	<aop:config>
	 	<aop:pointcut id="allPointcut" expression="execution(* com.mycompany.biz..*impl.*(..))" />
	 	
	 	<aop:aspect ref="after">
	 		<aop:after pointcut-ref="allPointcut" method="finallyLog"/>
	 	</aop:aspect>
	 
	</aop:config>
</beans>